<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="labs.lucka.wallmapper">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            android:maxSdkVersion="28"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/application_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Wallpaper"
            tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
                android:name=".MainActivity"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.Wallpaper.NoActionBar"
                android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
                android:name=".PreferenceActivity"
                android:label="@string/pref_main_screen_title"
                android:screenOrientation="portrait"
                android:parentActivityName=".MainActivity"/>

        <service
                android:name=".WallmapperLiveService"
                android:permission="android.permission.BIND_WALLPAPER"
                android:label="@string/service_live_label">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/service_live"/>
        </service>

    </application>

</manifest>